.faq {

}

.faq-wrapper {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--m) 0;
  border-bottom: 1px solid var(--light-alpha-0025);
}

.faq-wrapper:first-child {
  padding-top: 0;
}

.faq-content {
  width: 100%;
}

.faq-question {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}

.faq-answer {
  margin-top: var(--m);
  width: 85%;
}
