.file-input-preview {
  align-items: start;
}

.file-input-preview img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: .95rem;
  border: 1px solid var(--tertiary-color-alpha);
}

.file-input-label i {
  width: fit-content;
  padding: .5rem;
  color: var(--secondary-color);
  opacity: .8;
  transition: opacity 1s ease;
  border: 1px solid var(--secondary-color-alpha);
}

.file-input-label:active i {
  transform: scale(.95);
}

.file-input-label:hover i {
  opacity: 1;
}
