.user-avatar {
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  z-index: 2;
  aspect-ratio: 1;
}

.user-avatar-mini {
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
}

.user-avatar img {
  height: inherit;
  object-fit: cover;
  border-radius: 100%;
}
