.project-list-page {
  gap: 2rem;
}

.project-list-page-title .subtitle {
  bottom: -.25rem;
}

.project-list-page-grid {
  row-gap: 1rem;
}

.project-card {
  width: calc((100% - 1rem) / 3);
}

.project-card-status {
  top: 1rem;
  left: 1rem;
}

.project-card-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: none;
  transition: filter 1s ease;
}

.project-card-image:hover {
  filter: saturate(1.25);
}

.light-theme .project-card-image {
  border: 1px solid var(--tertiary-color-alpha);
}

.project-card .title {
  margin-left: .75rem;
  width: fit-content;
}

.travolta {
  width: 7rem;
  height: 7rem;
  z-index: 1;
  top: calc(-5rem - 1px);
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.75));
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.75));
}

.light-theme .travolta {
  filter: none;
  -webkit-filter: none;
}

@media (max-width: 768px) {
  .project-list-page {
    gap: 1rem;
  }

  .project-list-page-title .subtitle {
    bottom: -.5rem;
  }

  .project-card {
    width: calc((100% - .5rem) / 2);
  }

  .project-card-image {
    aspect-ratio: 1;
  }

}

@media (max-width: 350px) {
  .project-card {
    width: 100%;
  }

  .project-card-image {
    max-height: 200px;
  }
}
