.project-form {
  gap: 1rem;
}

.project-form .title {
  margin-left: 1rem;
}

.sidebar .file-input-preview {
  max-width: 8rem;
}

.project-form-links {
  flex-wrap: wrap;
}

.project-form-links .input {
  width: calc((100% - .5rem) / 2);
}

.project-form-confirm {
  background: var(--primary-color-alpha);
  height: 35vh;
}
