.project-form .title {
  margin-left: 1rem;
}

.sidebar .file-input-preview {
  max-width: 13rem;
}

.project-form-links {
  flex-wrap: wrap;
}

.project-form-links .input {
  width: calc((100% - 1rem) / 3);
}

.project-form-confirm {
  background: var(--primary-color-alpha);
  height: 35vh;
}
