.user-role-mark {
  width: fit-content;
  font-size: .5rem;
  padding: .25rem 1rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2rem;
  color: var(--secondary-color);
  z-index: 2;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.light-theme .user-role-mark {
  /*color: var(--primary-color);*/
  /*box-shadow: none;*/
}

.user-role-mark-user {
  background: var(--success);
  border: 1px solid var(--success);
  box-shadow: 0 0 .5rem var(--success);
}

.user-role-mark-editor {
  background: var(--warning);
  border: 1px solid var(--warning);
  box-shadow: 0 0 .5rem var(--warning);
}

.user-role-mark-godmode {
  background: var(--danger);
  border: 1px solid var(--danger);
  box-shadow: 0 0 .5rem var(--danger);
}
