.theme-toggle {
  /*display: flex;*/
  /*align-items: center;*/
  /*gap: .5rem;*/
  /*cursor: pointer;*/
  z-index: 2;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.theme-toggle input {
  display: none;
}

.theme-toggle .slider {
  position: relative;
  width: calc(2rem * 2);
  height: 2rem;
  background-color: var(--secondary-color-alpha);
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.theme-toggle .slider::before {
  content: '';
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: calc(2rem - 0.5rem);
  height: calc(2rem - 0.5rem);
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.theme-toggle input:checked + .slider {
  background-color: var(--secondary-color);
}

.theme-toggle input:checked + .slider::before {
  transform: translateX(2rem);
}

.theme-toggle .label {
  font-size: 1rem;
  color: var(--secondary-color-alpha);
}
