.theme-toggle {
  z-index: 1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.theme-toggle input {
  display: none;
}

.theme-toggle .slider {
  width: calc(1.5rem * 2);
  height: 1.5rem;
  background: var(--tertiary-color-alpha);
  transition: background 0.3s ease;
}

.theme-toggle .slider::before {
  content: '';
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: calc(1.5rem - 0.5rem);
  height: calc(1.5rem - 0.5rem);
  background-color: var(--secondary-color-alpha);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.theme-toggle input:checked + .slider {
  background-color: var(--primary-color);
}

.theme-toggle input:checked + .slider::before {
  transform: translateX(1.5rem);
}

