.projects-list {
  position: relative;
}

.projects-list--header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.projects-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.project-card img {
  height: 275px;
  aspect-ratio: 1/.65;
  object-fit: cover;
  margin-bottom: .5rem;
  transition: box-shadow 1s ease;
}

.project-card img:hover {
  box-shadow: var(--shadow);
}

.project-card .title {
  margin-left: 1rem;
}

.add-project {
  position: absolute;
  right: 0;
  opacity: .5;
  transition: opacity 1s ease;
}

.add-project:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .projects-list {
    position: relative;
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .project-card img {
    height: 175px;
    aspect-ratio: 1;
  }

  .project-card .title {
    margin-left: .5rem;
  }
}
