.projects-list {
  position: relative;
}

.projects-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.project-card {
  text-decoration: none;
  color: #333;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  object-fit: cover;
  /*border-radius: 8px;*/
  background: #0056b3;
}

.project-card h3 {
  margin: 10px;
}

.add-project svg {
  width: 3rem;
  height: 3rem;
  opacity: .5;
  transition: opacity 1s ease;
}

.add-project svg:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
