.project-page {
  /*max-width: 800px;*/
  /*margin: 0 auto;*/
  display: flex;
  flex-direction: column;
  row-gap: var(--xl);
}

.project-title {
  position: relative;
  width: fit-content;
}

.project-page img {
  width: 60%;
  max-height: 400px;
  object-fit: cover;
  aspect-ratio: 1/.75;
  box-shadow: var(--shadow);
}


.links, .links a, .links a i {
  display: inline-flex;
  height: fit-content;
}

.links {
  /*margin: 1rem 0;*/
  gap: .5rem;
}

.links a {
  width: 2rem;
  aspect-ratio: 1;
  padding: .5rem;
  background: var(--light-alpha-0025);
  opacity: .75;
  transition: opacity 1s ease;
}

.links a:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .project-page img {
    width: 100%;
    min-height: 170px;
  }
}
/*.project-actions {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: var(--m);*/
/*}*/

/*.project-actions button {*/
/*  padding: 10px 20px;*/
/*  background: #007bff;*/
/*  color: white;*/
/*  border: none;*/
/*  border-radius: 4px;*/
/*  cursor: pointer;*/
/*}*/

/*.project-actions .delete-button {*/
/*  background: #dc3545;*/
/*}*/

/*.project-actions button:hover {*/
/*  opacity: 0.9;*/
/*}*/
