.content {
  width: 1190px;
  margin: 0 auto;
  padding: 10rem 1rem;
}

.dashboard-wrapper {
  width: 100%;
  padding: 0;
}

.b-radius {
  border-radius: var(--xl);
}

.shadow {
  box-shadow: 0 .25rem .75rem var(--dark-alpha-05);
}

.bg-blur {
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.no-scroll {
  overflow: hidden;
}

.absolute {
  position: absolute;
}

.p-0 {
  padding: 0;
}

.lottie-icon {
  position: absolute;
  width: 1.5rem;
  right: -1.5rem;
  top: -5%;
  filter: invert(1) grayscale(1) brightness(100);
}

.filter-off {
  filter: none;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 7.5rem .75rem;
  }

  .dashboard-wrapper {
    padding: 0;
  }
}
