.content {
  position: relative;
  background: var(--bg-image) no-repeat 0 0 fixed;
  background-size: cover;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 7.5rem 12.5rem;
}

.content.animate-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
  url("/imgs/bg/coin.webp") 50% 50%;
  background-size: 5vw auto;
  animation: scroll-down .75s linear infinite;
}

.animate-bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color-alpha) !important;
  z-index: -1;
}

@keyframes scroll-down {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 10vw;
  }
}

.blur-bg {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.no-scroll {
  overflow-y: hidden!important;
  height: 100%!important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.w-100 {
  width: 100%;
}

.fit-content {
  width: fit-content;
}

.d-flex {
  display: flex;
  gap: .5rem;
}

.flex-auto {
  flex: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-c {
  align-items: center;
}

.align-s {
  align-items: start;
}

.align-e {
  align-items: end;
}

.justify-c {
  justify-content: center;
}

.justify-sa {
  justify-content: space-around;
}

.justify-sb {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-0 {
  gap: 0!important;
}

.p-0 {
  padding: 0!important;
}

.m-0 {
  margin: 0!important;
}

.p-1 {
  padding: 1rem!important;
}

.px-1 {
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}

.py-1 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.b-radius {
  border-radius: 2rem;
}

.border-none {
  border: none!important;
}

.pointer {
  cursor: pointer;
}

.link {
  color: #0077ff;
}

.faded-image {
  filter: saturate(0) brightness(50%);
}

.element-wrapper {
  background: var(--primary-color-alpha);
  padding: 1rem;
  border-radius: 1.5rem;
  z-index: 1;
}

.popup {
  height: 30vh;
  padding: 2rem;
  background: var(--primary-color-alpha);
  text-align: center;
  gap: 1rem;
}

.sidebar {
  width: 17.5rem;
  font-size: .75rem;
  color: var(--secondary-color-alpha);
}

.sidebar-sticky {
  position: sticky;
  top: -6.5rem;
}

.sidebar-toggle-wrapper {
  padding: .5rem;
  top: 1rem;
  left: -3.1rem;
}

.slider-img {
  width: auto;
  height: 200px;
  /*aspect-ratio: 4 / 3;*/
  object-fit: cover;
  padding: 0 .25rem;
  border-radius: 1rem;
}

.bg-warn {
  background: var(--warning);
}

.tooltip {
  font-size: .75rem;
  cursor: help;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  /*width: 7.5rem;*/
  bottom: 125%;
  left: 50%;
  text-align: center;
  text-shadow: none;
  transform: translateX(-50%);
  background: var(--secondary-color);
  box-shadow: inset 0 0 2px var(--primary-color-alpha);
  border: 1px double var(--primary-color-alpha);
  color: var(--primary-color-alpha);
  padding: .5rem 1rem;
  border-radius: 1rem;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999999;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.tg-premium {
  width: .6rem!important;
  height: .6rem;
  right: -.6rem;
  box-shadow: none;
}

.light-theme .tg-premium {
  filter: invert();
  -webkit-filter: invert();
}

/* pending... */

.pending-ellipsis {
  font-family: 'Courier New', Courier, monospace;
}

.pending-ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  width: 0;
  content: "...";
  animation: ellipsis steps(4, end) 1000ms infinite;
}

@keyframes ellipsis {
  to {
    width: 2.5rem;
  }
}

.head-shadow {
  background: linear-gradient(90deg, #CC3C2A, #294F8C);
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 4rem 1rem 7.5rem 1rem;
  }

  .content.animate-bg {
    background-size: 10vw auto;
  }

  @keyframes scroll-down {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 30vw;
    }
  }
}
