.content {
  position: relative;
  background: var(--bg-image) no-repeat 0 0 fixed;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10rem;
}

.content.animate-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
  url("/imgs/bg/coin.webp") 50% 50%;
  background-size: 5vw auto;
  animation: scroll-down .75s linear infinite;
}

.animate-bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color-alpha)!important;
  z-index: -1;
}

@keyframes scroll-down {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 10vw;
  }
}

.blur-bg {
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.no-scroll {
  overflow-y: hidden!important;
  height: 100%!important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.align-c {
  align-items: center;
}

.justify-c {
  justify-content: center;
}

.justify-sa {
  justify-content: space-around;
}

.justify-sb {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.p-0 {
  padding: 0!important;
}


.m-0 {
  margin: 0!important;
}

.border-none {
  border: none!important;
}

.pointer {
  cursor: pointer;
}

.faded-image {
  opacity: .05;
}

.element-wrapper {
  background: var(--primary-color-alpha);
  padding: 1rem;
  border-radius: 1.5rem;
}

.bg-warn {
  background: var(--warning);
}

.matrix-input {
  font-family: 'Courier New', Courier, monospace;
  color: var(--success);
  caret-color: var(--success);
}

.matrix-input .input {
  border: none!important;
  border-radius: 0!important;
  background: none!important;
  box-shadow: none!important;
  opacity: 1;
}

.matrix-input .input input {
  color: var(--success);
  border-bottom: 1px solid var(--success);
  caret-color: var(--success);
}

/*.lottie-icon {*/
/*  !*position: absolute;*!*/
/*  width: 1.5rem;*/
/*  !*right: -1.5rem;*!*/
/*  !*top: 0;*!*/
/*  filter: invert(1) grayscale(1) brightness(100);*/
/*}*/

/*.filter-off {*/
/*  filter: none;*/
/*}*/

@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 7.5rem 1rem;
  }

  .content.animate-bg {
    background-size: 10vw auto;
  }

  @keyframes scroll-down {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 30vw;
    }
  }

  /*.dashboard-wrapper {*/
  /*  padding: 0 0 5rem 0;*/
  /*}*/
}
