.title {
  width: fit-content;
  color: var(--light);
  position: relative;
  text-wrap: balance;
  z-index: 1;
  text-shadow: var(--shadow);
}

/*.title-wrapper {*/
/*  display: inline-flex;*/
/*  align-items: center;*/
/*}*/

.title-huge {
  font-size: calc(var(--4xl) * 3);
  width: 500%;
  font-weight: 900;
  line-height: calc(var(--4xl) * 2.5);
  color: var(--dark-alpha-025);
  position: absolute;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-shadow: none;
}

.title-4xl {
  font-size: var(--4xl);
  font-weight: 900;
  line-height: calc(var(--4xl) - 15%);
}

.title-3xl {
  font-size: var(--3xl);
  font-weight: 800;
  line-height: calc(var(--3xl) - 15%);
}

.title-2xl {
  font-size: var(--2xl);
  font-weight: 800;
  line-height: calc(var(--2xl) - 15%);
}

.title-xl {
  font-size: var(--xl);
  font-weight: 700;
}

.title-l {
  font-size: var(--l);
  font-weight: 600;
}

.title-s {
  font-size: var(--s);
  font-weight: normal;
  color: var(--light-alpha-025);
}
