.title {
  color: var(--text-color);
  z-index: 1;
  text-wrap: balance;
  width: fit-content;
}

.light-theme .title {
  letter-spacing: -1px;
}

.title-shadow {
  font-size: 35vw;
  line-height: 30vw;
  font-weight: 900;
  text-wrap: nowrap;
  color: var(--secondary-color-alpha);
  opacity: .095;
  left: -10vw;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.light-theme .title-shadow {
  line-height: 25vw;
}

.title-size-2xl {
  font-size: 4rem;
  line-height: normal;
  font-weight: 800;
  color: transparent;
  width: fit-content;
  -webkit-background-clip: text!important;
  background-clip: text!important;
  background: #FF9B00;
  background: -webkit-linear-gradient(90deg, rgba(255, 155, 0, 1) 0%, rgba(255, 213, 56, 1) 100%);
  background: -moz-linear-gradient(90deg, rgba(255, 155, 0, 1) 0%, rgba(255, 213, 56, 1) 100%);
  background: linear-gradient(90deg, rgba(255, 155, 0, 1) 0%, rgba(255, 213, 56, 1) 100%);
}

.light-theme .title-size-2xl {
  background: var(--secondary-color);
  background: -webkit-linear-gradient(90deg, var(--secondary-color) 0%, var(--secondary-color-alpha) 100%);
  background: -moz-linear-gradient(90deg, var(--secondary-color) 0%, var(--secondary-color-alpha) 100%);
  background: linear-gradient(90deg, var(--secondary-color) 0%, var(--secondary-color-alpha) 100%);
}

.title-size-xl {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
}

.title-size-l {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}

.title-size-m {
  font-size: 1.5rem;
  font-weight: 600;
}

.title-size-s {
  font-size: 1.25rem;
  font-weight: 500;
}

.subtitle {
  font-size: .75rem;
  font-weight: normal;
  color: var(--secondary-color-alpha);
  margin-left: .25rem;
}

.transcription {
  top: -.5rem;
  left: .25rem;
}

.transcription .title-size-s {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-color-alpha);
}

@media (max-width: 768px) {
  .title-shadow {
    left: 0;
  }

  .title-size-2xl {
    font-size: 12.5vw;
  }

  .title-size-xl {
    font-size: 10vw;
    line-height: 9vw;
  }

  .title-size-l {
    font-size: 8vw;
    line-height: 7vw;
  }

  .title-size-m {
    font-size: 6vw;
  }

  .title-size-s {
    font-size: 5vw;
  }

  .subtitle {
    font-size: .65rem;
  }

  .light-theme .title-size-2xl,
  .light-theme .title-size-xl {
    word-spacing: -15px;
  }

  .light-theme .title-size-xl {
    word-spacing: -10px;
  }
}
