.title {
  color: var(--text-color);
  z-index: 1;
  text-wrap: balance;
}

.title-shadow {
  font-size: 30vw;
  line-height: 27vw;
  font-weight: 900;
  text-wrap: nowrap;
  color: var(--secondary-color-alpha);
  opacity: .075;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.title-size-2xl {
  font-size: 4.5rem;
  line-height: normal;
  font-weight: 800;
  color: transparent;
  -webkit-background-clip: text!important;
  background-clip: text!important;
  background: #FF9B00;
  background: -webkit-linear-gradient(90deg, rgba(255, 155, 0, 1) 0%, rgba(255, 213, 56, 1) 100%);
  background: -moz-linear-gradient(90deg, rgba(255, 155, 0, 1) 0%, rgba(255, 213, 56, 1) 100%);
  background: linear-gradient(90deg, rgba(255, 155, 0, 1) 0%, rgba(255, 213, 56, 1) 100%);
}

.light-theme .title-size-2xl {
  background: var(--secondary-color);
  background: -webkit-linear-gradient(90deg, var(--secondary-color) 0%, var(--secondary-color-alpha) 100%);
  background: -moz-linear-gradient(90deg, var(--secondary-color) 0%, var(--secondary-color-alpha) 100%);
  background: linear-gradient(90deg, var(--secondary-color) 0%, var(--secondary-color-alpha) 100%);
}

.title-size-xl {
  font-size: 3.5rem;
  line-height: 3.25rem;
  font-weight: 700;
}

.title-size-l {
  font-size: 2.5rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.title-size-m {
  font-size: 2rem;
  font-weight: 700;
}

.title-size-s {
  font-size: 1.5rem;
  font-weight: 600;
}

.subtitle {
  font-size: .75rem;
  font-weight: normal;
  color: var(--secondary-color-alpha);
  margin-left: .25rem;
}

@media (max-width: 768px) {
  .title-shadow {
    font-size: 30vw;
    line-height: 25vw;
  }

  .title-size-2xl {
    font-size: 12.5vw;
  }

  .title-size-xl {
    font-size: 10vw;
    line-height: 9vw;
  }

  .title-size-l {
    font-size: 8vw;
    line-height: 7vw;
  }

  .title-size-m {
    font-size: 6vw;
  }

  .title-size-s {
    font-size: 5vw;
  }

  .subtitle {
    font-size: .65rem;
  }
}
