.faq {
  /*padding-bottom: 1.5rem;*/
  padding: 1.5rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--tertiary-color-alpha);
}

.faq:last-child {
  margin-bottom: 0;
  /*border: none;*/
}

.faq-question {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.faq-answer {
  padding-top: 1rem;
  width: 90%;
  border-top: var(--secondary-color-alpha);
  opacity: .75;
}

.faq-draft .title,
.faq-draft .faq-answer {
  opacity: .1;
}
