.faq {
  /*padding-bottom: 1.5rem;*/
  padding: 1.5rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--tertiary-color-alpha);
}

.faq-title {
  margin: 2rem 0;
}

.faq-paul {
  width: 3rem;
  height: 3rem;
  bottom: -1.5rem;
  right: 3rem;
  filter: contrast(1.25);
}

.faq-soon {
  width: 3rem;
  height: 3rem;
  bottom: .25rem;
  right: .25rem;
  z-index: 2;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 1.5s ease;
}

.faq-soon.visible {
  opacity: 1;
  transform: translateY(0);
}

.faq:last-child {
  margin-bottom: 0;
  /*border: none;*/
}

.faq-question {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.faq-answer {
  padding-top: 1rem;
  width: 90%;
  border-top: var(--secondary-color-alpha);
  opacity: .75;
}

.faq-draft .title,
.faq-draft .faq-answer {
  opacity: .1;
}
