.user-page {
  gap: 1rem;
}

.user-page-avatar {
  align-self: flex-start;
}

.user-page-role {
  bottom: -.25rem;
}

.user-page-header {
  gap: 1.5rem;
  color: var(--secondary-color-alpha);
}

.user-page-name {
  margin-bottom: .5rem;
}

.user-page-premium {
  width: fit-content;
  top: .5rem;
  left: .5rem;
  height: 1rem;
  z-index: 3;
  box-shadow: none;
}

.user-page-achivs {
  gap: .25rem;
}

.user-page-achiv {
  z-index: 2;
  box-shadow: none;
  max-width: 1.5rem;
  max-height: 1.5rem;
  object-fit: contain;
}
