.user-page {
  gap: 1rem;
}

.user-page-role {
  bottom: -.25rem;
}

.user-page-header {
  gap: 0;
  color: var(--secondary-color-alpha);
}

.user-page-name {
  margin-bottom: .5rem;
}

.user-page-achivs {
  gap: .25rem;
}

.user-page-achiv {
  z-index: 2;
  box-shadow: none;
  max-width: 1rem;
  max-height: 1rem;
  object-fit: contain;
}

.light-theme .user-page-achiv {
  filter: drop-shadow(0 1px 1px gray);
}

.user-page-permissions {
  width: 15rem;
}
