.console {
  padding: 1rem;
  height: 15rem;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 -10px 20px var(--primary-color-alpha);
  user-select: none;
  justify-content: end;
}

.console .input {
  background: none;
  padding: 0;
  border: 0;
  opacity: 1;
}

.console input {
  color: var(--success);
  caret-color: var(--success);
}

.console-output {
  width: 95%;
  padding-right: 1rem;
  overflow-y: hidden;
  gap: 0;
}

.console-close {
  font-size: inherit;
  opacity: 1;
  right: 1rem;
  top: 1rem;
}

.matrix {
  font-family: 'Courier New', Courier, monospace;
  color: var(--success);
}

@media (max-width: 768px) {
  .console {
    height: 25rem;
  }
}
