.footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: -.25rem;
  background: var(--dark-alpha-025);
  box-shadow: 0 -10px 20px var(--dark-alpha-025);
  border-top: 1px solid var(--light-alpha-0025);
  z-index: 999;
}

.footer .content {
  padding: 1rem 0 1.75rem 0;
  background: none;
}

.footer--links {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.footer--links a {
  width: 33.33333333%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  opacity: .75;
  transition: opacity 1s ease;
  font-size: var(--m);
}

.footer--links a.active {
  opacity: 1;
}

.footer--links a:hover {
  opacity: 1;
}
