.footer {
  padding: .75rem 12.5rem;
  bottom: 0;
  background: var(--primary-color-alpha);
  z-index: 999;
  box-shadow: 0 -.5rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem 1rem 0 0;
  border-top: 1px solid var(--tertiary-color-alpha);
  display: block;
  transition: bottom .5s;
}

.light-theme .footer {
  box-shadow: none;
}

.footer a {
  text-align: center;
  width: calc(100% / 3);
  opacity: .5;
  transition: opacity 1s ease;
}

.footer a i {
  font-size: 30px;
}

.footer a.active {
  opacity: 1;
}

.footer a:hover {
  opacity: 1;
}

.footer-link-text {
  font-size: .75rem;
}

.footer-none {
  bottom: -100px!important;
}

@media (max-width: 768px) {
  .footer {
    padding: .75rem 1rem 1.25rem;
  }

  .footer a {
    width: calc(100% / 2);
  }
}
