.footer {
  padding: 1rem;
  bottom: 0;
  background: var(--primary-color-alpha);
  z-index: 999;
  box-shadow: 0 -.5rem 1rem var(--primary-color-alpha);
  border-top: 1px solid var(--primary-color-alpha);
}

.light-theme .footer {
  box-shadow: none;
}

.footer a {
  text-align: center;
  width: calc(100% / 3);
  opacity: .75;
  transition: opacity 1s ease;
  margin-bottom: .5rem;
}

.footer a i {
  margin-bottom: .5rem;
}

.footer a.active {
  opacity: 1;
}

.footer a:hover {
  opacity: 1;
}
