@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Font */
  --font-size-xxxs: 11px;
  --font-size-xxs: 13px;
  --font-size-xs: 20px;
  --font-size-s: 24px;
  --font-size-m: 30px;
  --font-size-l: 36px;
  --font-size-xl: 48px;
  --font-size-xxl: 64px;
  --font-size-xxxl: 100px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Sets of colors */
  --color-text: #ffffff;
  --color-gray-text: rgba(255, 255, 255, 0.25);

  --color-background: #000000;
  --color-background-secondary: #23272f;

  --color-border: #23272f;

  --disabled: #afafaf;

  --invert: invert(1);

  --opacity: rgba(255, 255, 255, 0.02);
  --half-opacity: rgba(0, 0, 0, 0.5);
  --hard-opacity: rgba(0, 0, 0, 0.9);

  --second-color: #004570;

  --gradient: repeating-conic-gradient(from 0, rgb(24, 24, 24) 0% 25%, #191919 0% 50%) 50%/40px 40px fixed;

  /* Form */
  --forms-color-background: var(--color-background);
  --forms-color-border: var(--color-border);
  --forms-color-border-error: #ee3131;

  /* Button */
  --button-color-background: #23272f;
  --button-color-background-secondary: #f75f00;
  --button-color-background-disabled: #e5e5e5;
}

/* :root[data-theme="light"] {

} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  transition: box-shadow .5s ease-in-out;
}

html {
  background: #191919;
}

body {
  height: 100vh;
  margin: 0;
  background: var(--gradient);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  padding: 175px 0;
}

/* Размеры текста*/
.text-11 { 
  font-size: var(--font-size-xxxs);
  font-weight: normal;
}
.text-13 {
  font-size: var(--font-size-xxs);
  font-weight: normal;
}
.text-20 {
  font-size: var(--font-size-xs);
  font-weight: normal;
}
.text-24 {
  font-size: var(--font-size-s);
  font-weight: normal;
}
.text-30    { 
  font-size: var(--font-size-m); 
  font-weight: 700;
}
.text-36    { 
  font-size: var(--font-size-l);
  font-weight: 700;
}
.text-48 { 
  font-size: var(--font-size-xl);
  font-weight: 800;
}
.text-64 { 
  font-size: var(--font-size-xxl);
  font-weight: 800;
  line-height: 50px;
}
.text-100 { 
  font-size: var(--font-size-xxxl); 
  font-weight: 900;
  line-height: 80px;
}

/* Цвета */
.color-default { color: var(--color-text); }
.color-gray    { color: var(--color-gray-text); }
