@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  /* BASE */
  /* colors */
  --primary-color: #131313;
  --secondary-color: #ECECEC;

  --primary-color-alpha: rgba(0, 0, 0, .25);
  --secondary-color-alpha: rgba(255, 255, 255, .25);
  --tertiary-color-alpha: rgba(255, 255, 255, .05);

  --danger: rgba(207, 0, 0, 0.5);
  --warning: rgba(255, 140, 0, 0.5);
  --success: rgba(124, 252, 0, 0.4);

  /* DARK THEME */
  --bg-color: var(--primary-color);
  --bg-image: url("/imgs/bg/blur-bg.jpg");
  --alpha-color: var(--primary-color-alpha);

  --text-color: var(--secondary-color);
}

.light-theme {
  --primary-color: #ECECEC;
  --secondary-color: #131313;

  --primary-color-alpha: rgba(255, 255, 255, .5);
  --secondary-color-alpha: rgba(0, 0, 0, .25);
  --tertiary-color-alpha: rgba(0, 0, 0, 0.05);

  --danger: rgba(207, 0, 0, 1);
  --warning: rgba(255, 140, 0, 1);
  --success: rgba(124, 252, 0, 1);

  --bg-image: url("/imgs/bg/blur-bg-light.jpg");
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  position: relative;
  font-family: 'Inter', sans-serif;
  background: var(--primary-color);
  color: var(--text-color);
}

html, body {
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
  user-drag: none;
  -webkit-user-drag: none;
}

:focus-visible {
  outline: none;
  outline-offset: 2px;
}

input, textarea, select {
  font: inherit;
  background: none;
  caret-color: var(--secondary-color-alpha);
  color: var(--secondary-color);
  border: none;
  width: 100%;
}

input::placeholder, textarea::placeholder {
  /*color: var(--light-alpha-025);*/
}

input[type=text], textarea {
  width: 100%;
}

textarea {
  resize: none;
  padding-right: .5rem;
}

button {
  font: inherit;
  border: none;
  background: none;
  line-height: 90%;
  color: var(--secondary-color);
}

i {
  display: block;
  line-height: 90%;
  font-style: normal;
  user-select: none;
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 12px;
  }
}
