@keyframes slide-in-left {
  from { opacity: 0; transform: translateX(-100px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slide-in-right {
  from { opacity: 0; transform: translateX(100px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slide-in-top {
  from { opacity: 0; transform: translateY(-100px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes slide-in-bottom {
  from { opacity: 0; transform: translateY(100px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slide-out-left {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(-100px); }
}
@keyframes slide-out-right {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(100px); }
}
@keyframes slide-out-top {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-100px); }
}
@keyframes slide-out-bottom {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(100px); }
}

.slide {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  position: absolute;
  /*width: 100%;*/
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-direction: column;
  z-index: 999;
  padding: 2rem;
  overflow: hidden;
}

.slide-in-left     { animation-name: slide-in-left; }
.slide-in-right    { animation-name: slide-in-right; }
.slide-in-top      { animation-name: slide-in-top; }
.slide-in-bottom   { animation-name: slide-in-bottom; }

.slide-out-left    { animation-name: slide-out-left; }
.slide-out-right   { animation-name: slide-out-right; }
.slide-out-top     { animation-name: slide-out-top; }
.slide-out-bottom  { animation-name: slide-out-bottom; }
