.textarea {
  display: inline-flex;
  gap: .5rem;
  /*width: 100%;*/
  padding: 1rem .5rem 1rem 1rem;
  background: var(--light-alpha-0025);
  border: var(--dark-boarder);
  border-radius: 1rem;
  transition: border 1s ease, opacity 1s ease;
  opacity: .75;
}

.textarea:focus-within, .textarea:hover  {
  border: var(--light-boarder);
  opacity: 1;
}

/*.textarea i {*/
/*  opacity: .5;*/
/*  transition:opacity 1s ease;*/
/*}*/

/*.textarea:focus-within i {*/
/*  opacity: 1;*/
/*}*/