.project-page {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.project-title {
  position: relative;
  align-items: start;
  width: max-content;
  gap: .5rem;
}

.project-desc {
  gap: 2rem;
  z-index: 1;
}

.project-desc-info {
  gap: 1rem;
  text-wrap: balance
}

.project-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 2rem;
  border: 1px solid var(--primary-color-alpha);
  margin-top: 1rem;
  transition: box-shadow 1s ease;
  object-position: center;
  display: block;
}

.project-support a {
  cursor: pointer;
  font-weight: 900;
}

.links, .links a, .links a i {
  height: fit-content;
}

.links {
  gap: .5rem;
}

.admin-links{
  gap: .5rem
}

.links a {
  display: block;
}


@media (max-width: 768px) {
  .project-desc {
    flex-direction: column;
    gap: 1rem;
  }

  .links {
    flex-wrap: wrap;
  }

  .project-desc-info {
    padding: 0;
  }

  .project-image {
    max-width: max-content;
    aspect-ratio: 4/3;
  }
}
